.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.about-me .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 40%;
}

.about-me h1 {
    width: 100%;
}

.about-me p {

}