.content-container {
    position: relative;
    left: 0;
    min-height: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 1s;
}

.view {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.85);
}


@media (max-width: 768px) { 
    .content-container {
        flex-direction: column;
        
    }

    .view {
        min-height: 100vh;
        height: auto;
    }
}