.fake-scroll-container {
    position: absolute;
    width: 10px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 998;
    background: rgba(204, 107, 9, 0.5);
}

.fake-scroll-container > .fake-scroll {
    position: absolute;
    width: 10px;
    height: 12.5%;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(204, 107, 9, 1);
    transition-duration: 1s;
}